extends layout

block content
  h2 Hello #{name}
  p We received a request to reset your password. If this was not you, simply ignore this email.
  p Your OTP Code is
  h1 #{code}
  p Thanks for joining our community!